#google-logo {
    margin-top: 90px;
    text-align: center;
}

#google-search {

    margin: 5px auto;                  /* center container */
    width: 582px;
    height: 45px;
    border: 1px solid #dfe1e5;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    background-color: transparent;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;

}

.fa-search {
    opacity: 0.25;
    padding: 10px;
}